/* General grid layout */
.image-sect {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    gap: 1rem;
  }
  
  /* Grid container */
  .grid {
    width: 100%;
    gap: 1rem;
  }
  
  /* Image styling within grid */
  .box-image--style{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Example shadow color */
  }

  
  /* Main screen styling */
  .main-screen {
    display: grid;
    place-items: center;
    order: 1;
  }
  
  /* Image styling within main screen */
  .main-screen img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Example shadow color */
  }
  
  /* Four-column grid layout */
  .grid-four-col {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  
  /* Responsive design for mobile */
  @media (max-width: 768px) {
    .image-sect{
      display: flex;
      flex-direction: column;
      order: 1;
    }
  
    .grid {
      flex-direction: column;
    }
  
    .grid-four-col {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
    }
   
    
  }
  